div.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b88909;
    padding: 50px;
}

ul.lista {

    list-style: none;
    margin: 20;
    padding: 10px;
}

.menu-lista li {
    border: 10px solid #c70841;
    display: inline;
    margin-left: 20px;
}

div.logo img {
    height: 50px; 
}

.formulario {
    margin-top: 20px;
}

.formulario label, .formulario input, .formulario select, .formulario button {
    display: block;
    margin-bottom: 10px;
    border: 20px solid #70077e;
}
